.news_item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #A87C7C;

}

.image {
    height: auto;
    margin: 0 20px 0 15px;
    max-width: 300px;
}

.content {
    flex: 1;
    flex-basis: 300px;
}

@media (max-width: 680px) {
    .content {
        margin-top: 15px;
        margin-left: 15px;
    }
}